html{
  height: 100%;  
  background-color: #000;
}

body{
    font-family: 'Cinzel', serif;
    overflow: hidden;
}

figure{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes flash {
    0%   {opacity: 1}
    39% {opacity: 1}
    40% {opacity: 0}
    45% {opacity: 1}
    50% {opacity: 0}
    55% {opacity: 1}
    60% {opacity: 0}
    65% {opacity: 1}
    85%{ opacity: 1}
    100% {opacity: 0}
  }

@keyframes flash {
    0%   {opacity: 1}
    39% {opacity: 1}
    40% {opacity: 0}
    45% {opacity: 1}
    50% {opacity: 0}
    55% {opacity: 1}
    60% {opacity: 0}
    65% {opacity: 1}
    85%{ opacity: 1}
    100% {opacity: 0}
  }

#dots{
    display: block;
    -webkit-animation: flash 2.3s;
            animation: flash 2.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.fadeIn{
    text-align: center;
    color: #A0A188;
    -webkit-animation: ease-in 2s;
            animation: ease-in 2s;
}

.container__main{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-align: center;
    height: 75vh;
}

.slash{
    color: rgba(23,20,119,1);
}

.container__header{
    color: #A0A188;
}

.fullscreen__bg-container {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hide{
    display: none;
    opacity: 0;
}

.master{
    -webkit-animation: fadeIn 2s;
            animation: fadeIn 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn{
  0%   {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeIn{
  0%   {opacity: 0}
  100% {opacity: 1}
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
  }

  footer{
    display: flex;
    justify-content: space-around;
  }

  footer a{
      margin: 5px;
      color: #A0A188;
      display: inline-block;
  }

  a:link{
    color: #A0A188;
    text-decoration: none;
  }