html{
  height: 100%;  
  background-color: #000;
}

@font-face {
    font-family: 'RoadRage';
    src: url('fonts/RoadRage.eot?#iefix') format('embedded-opentype'),  url('fonts/RoadRage.otf')  format('opentype'),
           url('fonts/RoadRage.woff') format('woff'), url('fonts/RoadRage.ttf')  format('truetype'), url('fonts/RoadRage.svg#RoadRage') format('svg');
    font-weight: normal;
    font-style: normal;
  }

body{
    overflow: hidden;
    font-family: 'RoadRage';
}

figure{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes flash {
    0%   {opacity: 1}
    39% {opacity: 1}
    40% {opacity: 0}
    45% {opacity: 1}
    50% {opacity: 0}
    55% {opacity: 1}
    60% {opacity: 0}
    65% {opacity: 1}
    85%{ opacity: 1}
    100% {opacity: 0}
  }

#dots{
    display: block;
    animation: flash 2.3s;
    animation-fill-mode: forwards;
    width:100%;
    height: auto;
    max-width: 340px;
}

.fadeIn{
    text-align: center;
    color: #A0A188;
    animation: ease-in 2s;
}

.container__main{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-align: center;
    height: 75vh;
}

.slash{
    color: rgba(23,20,119,1);
}

.container__header{
    color: royalblue;
}

.fullscreen__bg-container {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide{
    display: none;
    opacity: 0;
}

.master{
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
  0%   {opacity: 0}
  100% {opacity: 1}
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
  }

  footer{
    display: flex;
    justify-content: space-around;
    font-family: 'RoadRage';
    font-size: 12px;
  }

  footer a{
      margin: 5px;
      color: royalblue;
      display: inline-block;
      font-family: 'RoadRage';
  }

  a:link{
    text-decoration: none;
    font-family: 'RoadRage';
  }

  @media only screen and (min-width: 600px) {
      footer{
          font-size: 1rem;
      }
  } 